<html>
    <head>
        <script src="https://kit.fontawesome.com/db75def5cf.js" crossorigin="anonymous"></script>
        <link href="css/user_profile.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%- include('_header.ejs') %>
        <h1>
            Codeial/Profile Page
        </h1>
        
        <!-- <a href="/users/sign-in">Sign Out</a> -->

        <!-- string matching -->
        <% if(user.id == profile_user.id){ %> 
            <!-- if user matches then show the form -->
            <form action="/users/update/<%= profile_user.id %>" method="post">
                <input type="text" name="name" placeholder="Your Name" value="<%=profile_user.name%>" required>
                <input type="text" name="email" placeholder="Your Email" value="<%=profile_user.email%>" required>
                <input type="submit" value="Update">
            </form>
        <% }else{ %>
            <!-- else show only the info -->
            <p>Name: <%= profile_user.name %></p>
            <p>Email: <%= profile_user.email %></p>
        <% } %>
    </body>
</html>

